<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbowuniv.academicmenagmentbe.student.grade.GradeMapper">

    <!-- 2차 프로젝트 영구 성적 조회 -->
    <select id="getAllPermanentGrade" >
        SELECT
        se.year,
        se.semester,
        c.type,
        s.grade,
        u.user_name AS professorName,
        c.course_code,
        c.title,
        c.credit,
        s.rank

        FROM enrollment e
        JOIN course c
        ON e.course_id = c.course_id
        JOIN score s
        ON e.enrollment_id = s.enrollment_id
        JOIN semester se
        ON se.semester_id = c.semester_id
        JOIN user u
        ON u.user_id = c.user_id

        WHERE e.user_id = #{userId}
        AND se.semester_id != #{req.semesterId}
        AND e.status = '수강완료'

        <if test="req.grade != null">
            AND s.grade = #{req.grade}
        </if>


        <if test="req.semester != null">
            AND se.semester = #{req.semester}
        </if>
    </select>

    <!-- 2차 프로젝트 금학기 성적 조회 -->
    <select id="getMyCurrentGrades">
        SELECT
        c.course_id,
        c.type,
        u.user_name AS professorName,
        c.course_code,
        c.title,
        c.credit,
        s.rank,
        s.mid_score,
        s.fin_score,
        s.attendance_score,
        s.other_score,
        e.ev_score

        FROM enrollment e
        JOIN course c
        ON e.course_id = c.course_id
        JOIN score s
        ON e.enrollment_id = s.enrollment_id
        JOIN user u
        ON u.user_id = c.user_id

        WHERE e.user_id = #{userId}
        AND c.semester_id = #{semesterId}

    </select>


</mapper>
