<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.staff.approval.ApprovalMapper">



<!--  신청서 조회  -->
    <select id="ApplicationList">
        SELECT a.app_id, a.created_at, a.status, a.reason,
        u.user_id, u.user_name, d.dept_name, sc.schedule_type
          FROM application a
          JOIN user u
            ON a.user_id = u.user_id
        left JOIN professor p
            ON u.user_id = p.user_id
        left JOIN student s
            ON s.user_id = u.user_id
          JOIN department d
            ON d.dept_id = s.dept_id
            OR d.dept_id = p.dept_id
          JOIN schedule sc
            ON a.schedule_id = sc.schedule_id
          JOIN semester sm
            ON sc.semester_id = sm.semester_id
         WHERE sm.year = #{year} AND sm.semester = #{semester}
        <if test="scheduleType != null and scheduleType != ''">
            AND sc.schedule_type = #{scheduleType}
        </if>
    </select>

<!-- 신청서 승인 여부 결정   -->

    <update id="modifyStatus">
        UPDATE application
        SET status = #{status}
        WHERE app_id = #{appId}
    </update>

    <!--  추후 2차 진행시 user-student를 따로 만들어서 관리한다.  -->

    <update id="changeStudentStatus">
        UPDATE student
        SET status = "휴학"
        WHERE user_id = #{userId}
    </update>

<!-- 강의 개설 신청 조회-->
    <select id="findCoursesByStatus">
    SELECT
    c.status,
    c.course_id,
    c.course_code,
    c.title,
    c.classroom,
    c.type,
    c.grade,
    u.user_name AS professorName,
    s.year,
    s.semester,
    c.time,
    c.credit,
    c.max_std,
    c.rem_std,
    d.dept_name
    FROM course c
    JOIN user u
    ON u.user_id = c.user_id
    JOIN professor p
    ON p.user_id = c.user_id
    JOIN department d
    ON d.dept_id = p.dept_id
    JOIN semester s
    ON s.semester_id = c.semester_id
    WHERE s.year = #{year}
    AND c.status = '처리중'

    <if test="semester != null and semester != ''">
        AND s.semester = #{semester}
    </if>
    </select>

    <!-- 추후 중복 쿼리를 어떻게 할지 생각 -->

    <update id="changeCourseStatus">
        UPDATE course
        SET status = #{status}
        WHERE course_id = #{courseId}
    </update>



</mapper>
