<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.staff.department.DepartmentMapper">

    <insert id="save">
        INSERT INTO department
        SET dept_name = #{deptName},
            dept_office = #{deptOffice},
            dept_tel = #{deptTel},
            dept_max_std = #{deptMaxStd},
            dept_code = #{deptCode}
    </insert>

<!-- 학과 조회-->
    <select id="findAll">
        SELECT
        d.dept_id,
        d.dept_name,
        d.dept_office,
        d.dept_tel,
        d.head_prof_id,
        d.dept_max_std,
        d.status,
        d.dept_code,
        u.user_name,
        IFNULL(s.deptPeople, 0) AS deptPeople
        FROM department d
        LEFT JOIN user u ON d.head_prof_id = u.user_id
        LEFT JOIN (
        SELECT dept_id, COUNT(*) AS deptPeople
        FROM student
        WHERE status != '졸업'
        GROUP BY dept_id
        ) s ON d.dept_id = s.dept_id;
        <where>
            <if test="status != null and status != ''">
                d.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (d.dept_code LIKE '%${keyword}%' OR d.dept_name LIKE '%${keyword}%')
            </if>
        </where>
    </select>


<!-- 학과 소속 교수 목록  -->
    <select id="findUserByDeptId">
        SELECT u.user_id, u.user_name
        FROM user u
        JOIN professor p
          ON u.user_id = p.user_id
        WHERE p.dept_id = #{deptId}
    </select>

<!-- 학과 정보 수정-->
    <update id="modifyDepartment">
        UPDATE department
        SET
        dept_name = #{deptName},
        dept_office = #{deptOffice},
        dept_tel = #{deptTel},
        dept_max_std = #{deptMaxStd},
        dept_code = #{deptCode}
        <if test="headProfId !=null and headProfId != ''">
            ,head_prof_id = #{headProfId}
        </if>
        WHERE dept_id = #{deptId}
    </update>

<!-- 학과 상태만 수정-->
    <update id="modifyStatus">
        UPDATE department
        SET status = #{status}
        WHERE dept_id = #{deptId}
    </update>
</mapper>