<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.course.CourseMapper">

   <!-- 현재 DB에 있는 모든 연도 가져옴 -->
    <select id="findAllYear">
        SELECT DISTINCT year
        FROM course
    </select>

    <!-- 현재 DB에 있는 모든 학과 가져옴 -->
    <select id="findAllDepartment">
        SELECT dept_name AS departmentName
        FROM department
    </select>

<!-- 개설된 강의들을 연도, 학기, 학과( 교양이면 학과를 교양학부로 함. ),
    타입(교양,전공)별로 조회. 필요시 강의명으로 검색할 수도 있음-->

    <select id="findCoursesByFilter">
        SELECT
          c.course_id,
          c.title,
          c.classroom,
          c.type,
          c.grade,
          u.user_name AS professorName,
          c.year,
          c.semester,
          c.time,
          c.credit,
          c.max_std,
          c.rem_std
        FROM course c
        JOIN user u
        ON u.user_id = c.user_id
        JOIN professor p
        ON p.user_id = c.user_id
        JOIN department d
        ON d.dept_id = p.dept_id
        WHERE c.year = #{year}

            <if test="semester != null and semester != ''">
                AND c.semester = #{semester}
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND d.dept_name = #{departmentName}
            </if>
            <if test="type != null and type != ''">
                AND c.type = #{type}
            </if>
            <if test="grade != null and grade != ''">
                AND c.grade = #{grade}
            </if>
            <if test="keyword != null and keyword != ''">
                AND c.title LIKE CONCAT('%', #{keyword}, '%')
            </if>


    </select>

    <!-- 강의 계획서 조회(강의 detail) -->
    <select id="findByCourseId">
        SELECT course_id, classroom, type, year, semester, time,
               title, credit, week_plan, text_book, goal,
               max_std, u.user_name, d.dept_name, grade
          FROM course c
          JOIN professor p
            ON c.user_id = p.user_id
          JOIN user u
            ON p.user_id = u.user_id
          JOIN department d
            ON p.dept_id = d.dept_id
        WHERE course_id = #{courseId}
    </select>


</mapper>