<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rainbowuniv.demoproject.course.CourseMapper">
<!-- 위에꺼 변경필요!!-->
    <!-- 강의 조회를 ID로 할 것인가?-->
    <select id="courseFindById">
        SELECT * FROM course
        WHERE course_id = #{courseId}
    </select>

    <insert id="student">
        INSERT INTO course (course_id, title, credit)
        VALUES (#{courseId},#{title},#{credit})
    </insert>

</mapper>