<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.profile.ProfileMapper">
    <!-- 학생프로필 -->
    <select id="selectStudentProfile" >
        SELECT
        u.login_id AS loginId,
        u.user_name AS studentName,
        u.email AS email,
        u.user_role AS userRole,
        p.user_name AS professorName,
        s.status AS status,
        s.grade AS grade,
        latest_semester.semester AS semester,
        latest_semester.year AS year,
        d.dept_name AS deptName,
        (
        SELECT COALESCE(SUM(c.credit), 0)
        FROM enrollment e
        JOIN course c ON e.course_id = c.course_id
        WHERE e.user_id = s.user_id
        AND e.rank != 'F'
        ) AS totalCredits
        FROM student s
        JOIN user u ON s.user_id = u.user_id
        LEFT JOIN professor pf ON s.dept_id = pf.dept_id
        LEFT JOIN user p ON pf.user_id = p.user_id
        LEFT JOIN department d ON s.dept_id = d.dept_id
        LEFT JOIN (
        SELECT e.user_id, c.year, c.semester
        FROM enrollment e
        JOIN course c ON e.course_id = c.course_id
        JOIN (
        SELECT e2.user_id, MAX(CONCAT(c2.year, LPAD(c2.semester, 2, '0'))) AS max_term
        FROM enrollment e2
        JOIN course c2 ON e2.course_id = c2.course_id
        GROUP BY e2.user_id
        ) latest ON e.user_id = latest.user_id AND CONCAT(c.year, LPAD(c.semester, 2, '0')) = latest.max_term
        ) latest_semester ON latest_semester.user_id = s.user_id
        WHERE u.user_id = #{userId}  <!-- loginId 대신 userId 사용 -->
        LIMIT 1;
    </select>
</mapper>
