<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.sugang.StudentMapper">

    <!-- 이수구분, 수업코드, 과목명, 학기, 학점, 등급, (절대,상대 보류),성적등록날짜 -->
    <select id="studentFindById" parameterType="com.rainbowuniv.academicmenagmentbe.grade.model.GradeSearchReq" resultType="com.rainbowuniv.academicmenagmentbe.grade.model.GradeDTO">
        SELECT
        c.type,
        c.course_id,
        c.title,
        c.semester,
        c.credit,
        c.year,
        e.rank,
        e.created_at,
        s.grade,
        u.user_name AS professorName
        FROM enrollment e
        JOIN course c ON e.course_id = c.course_id
        JOIN student s ON e.user_id = s.user_id
        JOIN user u ON c.user_id = u.user_id
        <where>
            <if test="userId != null">
                AND e.user_id = #{userId}
            </if>
            <if test="semester != null">
                AND c.semester = #{semester}
            </if>
        </where>
    </select>
</mapper>