<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.profile.StudentProfileMapper">
    <select id="findStudentProfileInfo">
        SELECT
        u.user_name,
        u.login_id,
        s.grade,
        d.dept_name,
        s.semester,
        s.ent_date,
        s.status,
        u.birth_date,
        u.email,
        u.phone,
        u.address,
        u.add_detail,
        s.get_credit,
        u.user_pic

        FROM student s
        JOIN user u
        ON s.user_id = u.user_id
        JOIN department d
        ON s.dept_id = d.dept_id
        where s.user_id = #{userId}
    </select>

</mapper>
