<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbowuniv.academicmenagmentbe.mapper.TestMapper">

    <!-- user_id + course_id로 enrollment_id 조회 -->
    <select id="findEnrollmentId" resultType="int" parameterType="map">
        SELECT id
        FROM enrollment
        WHERE user_id = #{userId}
         AND course_id = #{courseId}
    </select>

    <!-- 출결 등록  -->
<!--    <insert id="checkAttendance" parameterType="com.rainbowuniv.academicmenagmentbe.model.AttendanceDto">-->
<!--        INSERT INTO attendance (attend_date, enrollment_id, status, note)-->
<!--        VALUES (#{attendDate}, #{enrollmentId}, #{status}, #{note})-->
<!--    </insert>-->

    <!-- 성적 수정 -->
    <update id="updateMidFinGrades" parameterType="com.rainbowuniv.academicmenagmentbe.model.GradeDto" >
        UPDATE enrollment
        SET score = #{score},
        grade = #{grade}
        WHERE course_id = #{courseId}
            AND user_id = #{userId}
    </update>



</mapper>